@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  --bgColor: #01090e;
  --bgColor2: #f4f4f4;
  --colorPrimary: #0095f6;
  --fontColorLight: #f9fcff;
  --fontColorVLight: #c5c5c5;
  --fontColorDark: #3d3d3d;
  --font1: "Poppins", sans-serif;
  --font2: "IBM Plex Mono", monospace;
  --animDuration: 0.2s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font1);
  font-size: 1rem;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--font1);
  color: var(--fontColor2);
  margin: 0;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 0.5em;
}
.Btn {
  display: inline-block;
  border: 2px solid var(--colorPrimary);
  border-radius: 5px;
  color: var(--colorPrimary);
  transition: background-color var(--animDuration) ease-in-out;
}
.Btn:hover {
  background-color: #0095f647;
}
