.Toggler {
  display: none;
}
.Navbar__wrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transform: translateZ(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 0;
  font-size: 1.25rem;
}
.Logo {
  cursor: pointer;
}
.Logo img {
  width: 4rem;
  height: 4rem;
}
.Navbar__List {
  display: flex;
  align-items: center;
  list-style: none;
}
.Navbar__Item {
  margin-right: 1em;
}
.Navbar__Link {
  color: var(--fontColorVLight);
  transition: color var(--animDuration) ease-in-out;
}
.Navbar__Link:hover {
  color: var(--fontColorLight);
}
.fixed-top {
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--bgColor);
}
.hide {
  width: 100%;
  top: -10em;
  z-index: 1;
  background-color: transparent;
}
.Btn {
  display: inline-block;
  border: 2px solid var(--colorPrimary);
  padding: 0.5em 1em;
  border-radius: 5px;
  color: var(--colorPrimary);
  transition: background-color var(--animDuration) ease-in-out;
}
.Btn:hover {
  background-color: #0095f647;
}
.Toggler {
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.Toggler .line {
  width: 30px;
  height: 3px;
  background-color: var(--bgColor2);
  display: block;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.Toggler.active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.Toggler.active .line:nth-child(2) {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.Toggler .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.Toggler.active .line:nth-child(2) {
  opacity: 0;
}
.Toggler.active .line:nth-child(1),
.Toggler.active .line:nth-child(3) {
  width: 30px;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
}
.Toggler.active .line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
  -ms-transform: translateY(15px) rotate(45deg);
  -o-transform: translateY(15px) rotate(45deg);
  transform: translateY(15px) rotate(45deg);
}
.Toggler.active .line:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
  -ms-transform: translateY(-11px) rotate(-45deg);
  -o-transform: translateY(-11px) rotate(-45deg);
  transform: translateY(-11px) rotate(-45deg);
}
.Toggler.active ~ .Navbar__List {
  height: auto;
  transform: scale(1, 1);
}

@media (max-width: 475px) {
  .Toggler {
    display: block;
  }
  .Navbar__List {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--bgColor2);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 250ms ease-out;
  }
  .active + .Navbar__List {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 16vh;
  }
  .Navbar__Item {
    margin: 0;
    display: block;
    width: 100%;
  }
  .Navbar__Item a,
  .Navbar__Cta {
    display: block;
    color: var(--bgColor);
    padding: 0.5em;
    margin: 0;
  }
  .Navbar__Item:hover {
    background-color: var(--bgColor);
    color: var(--colorPrimary);
  }
}
